.custom-navbar nav.navbar {
  padding: 30px 0;
}

a.nav-link {
  color: #fffc;
  font-size: 16px;
  line-height: 30px;
  text-transform: capitalize;
}
.navbar-nav {
  column-gap: 10px;
}
a.nav-link:hover {
  color: #c7bdff;
}

.custom-navbar a.navbar-brand {
  color: #fff;
  font-size: 35px;
}
.custom-navbar .navbar-toggler {
  background: #fff;
}
.custom-navbar button.navbar-toggler.collapsed,
.custom-navbar [type="button"]:not(:disabled),
.custom-navbar [type="reset"]:not(:disabled),
.custom-navbar [type="submit"]:not(:disabled),
.custom-navbar button:not(:disabled) {
  background: #fff;
}

.custom-navbar a.navbar-brand:focus,
.custom-navbar a.navbar-brand:hover {
  color: #fff;
}
.custom-navbar .navbar-nav .nav-link.active,
.custom-navbar .navbar-nav .nav-link.show {
  color: #c7bdff;
}

@media (min-width: 992px) {
  #navbarNav {
    justify-content: center;
  }
}

a.me-2.btn.btn-dark {
  background: transparent;
  border: none;
}

.action-button .btn {
  padding: 7px 15px !important;
  font-size: 16px !important;
}
