/* Styles for Sidebar */
.sidebar {
  background-color: var(--second-dark-background);
  padding: 20px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  flex-shrink: 0;
  width: 250px;
}
.sidebar.open .sidebarr {
  display: block;
}

.sidebarr{
  position: relative;
  height: 100vh;
}

.sidebar.open {
  width: 250px;
  height: 100vh;
}
.sidebar .sidebar-header a {
  text-decoration: none;
}

.sidebar i {
  margin-right: 20px;
}
.sidebar-content {
  display: flex;
  flex-direction: column;
}

.sidebar .sidebar-section {
  margin-top: 40px;
}
.sidebar .nav-link {
  margin: 0px 0;
}
.sidebar a.nav-link {
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
}

.sidebar .nav-dropdown {
  margin-top: 20px;
}

/* Content area */
.content {
  margin-left: 25%; /* Offset content to the right */
  padding: 0px;
}

.sidebar .sidebar-section .footer-content {
  /* position: fixed; */
  margin-top: auto;
  position: absolute;
  bottom: 50px;
  text-align: center;
}

.sidebar .footer-item {
  /* margin-bottom: 20px; */
  display: flex;
}
.sidebar .footer-item i {
  font-size: 20px;
  /* margin-left: 20px; */
}
button.sidebar-toggle {
  display: none;
}


.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-close {
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  background: blue;
  padding: 0px 7px;
  line-height: 25px;
}


.sidebar-close:hover {
  color: #ccc; /* Add hover effect if needed */
}

