/* index.css */
body {
  color: #ccc;
  font-family: "Poppins", sans-serif !important;
}
p {
  color: #000;
}

:root {
  --mid: #265bd5;
  --truescope-logo-blue: #26354e;
  --dark-background: #081022;
  --black: #01050c;
  --border: #d6d7d8;
  --background: #fffc;
  --midnight-blue: #162c4c;
  --primary: #0d6efd;
  --truescope-text-opaque: #26354ecc;
  --formight-blue: #162c4c;
  --white-smoke: #f7f7f8;
  --second-dark-background: #010a1d;
}

section.audio-section {
  padding: 100px 0;
}

section.audio-section {
  background-image: radial-gradient(
    circle farthest-corner at 50% 100%,
    #005cb966,
    #040d1f99 39%,
    var(--dark-background) 74%,
    var(--dark-background)
  );
}

.border-primary {
  border-color: #203158 !important;
}

section.call-action {
  background-color: var(--second-dark-background);
}

/* Form Container */
.form-block {
  background-color: #010a1d;
  border: 1px solid #283851;
  border-radius: 10px;
  width: 100%;
  padding: 40px;
  box-shadow: 6px 6px 20px 5px #00000080;
}

/* Form Input Styling */
.form-input {
  background-color: #131322; /* Input field background */
  color: #ffffff; /* Input text color */
  border: 1px solid #3a3a5a; /* Input border */
}

.form-input:focus {
  border-color: #5568fe; /* Highlight border color */
  box-shadow: 0 0 0 0.2rem rgba(85, 104, 254, 0.25);
}

/* Button Styling */
button.btn-primary {
  background-color: #5568fe; /*Button background */
  border: none;
}

button.btn-primary:hover {
  background-color: #3b4efc; /* Button hover */
}

section.home-form {
  background: var(--dark-background);
  padding: 80px 0;
}

section.home-form p {
  color: #fff;
  opacity: 0.8;
}

section.security-section {
  background-color: var(--second-dark-background);
}

section.home-form form .form-control {
  border: 1px solid #283851 !important;
  background: var(--dark-background);
}

.custom-card .fw-bold {
  font-weight: 500 !important;
}

.form-label {
  color: #fff;
}

input.form-control {
  border: 1px solid #283851 !important;
  background: var(--dark-background) !important;
}
.form-control:disabled {
  background-color: transparent;
}
.form-card.card .card-body .row {
  row-gap: 15px;
}
