.file-upload-box {
  border: 2px dashed #d3d3d3;
}

/* Container for the upload area */
.upload-container {
  border: 2px dashed #183d5d;
  background-color: #102a4338;
  padding: 2rem;
  border-radius: 12px;
  color: #d1e2f3;
  transition: all 0.3s ease-in-out;
}

.upload-container:hover {
  border-color: #2979ff;
  background-color: #0e2236;
}

/* Button styling */
.upload-button {
  background-color: #fbc02d;
  color: #102a43;
  border: none;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.upload-button:hover {
  background-color: #ffca28;
  color: #0e2236;
}

/* Display uploaded file name */
.file-name {
  font-size: 0.9rem;
  color: #f5f5f5;
  font-style: italic;
}

/* Text for additional instructions */
.text-muted {
  font-size: 0.85rem;
  line-height: 1.5;
  color: #b0bec5;
}

.upload-audio p {
  color: #fff;
}

.image-section {
  width: 100%;
  max-width: 400px;
  background-color: #183d5d;
  border-radius: 12px;
  padding: 20px;
}

.audioupload-modal .modal-content {
  background-color: #0f1726;
}

@media (max-width: 768.98px) {
  .audio-section .upload-audio {
    padding: 0px;
  }
}
