.feature p,
.call-action p,
.intro-section p,
.security-section p {
  color: #fff;
  opacity: 0.8;
}

.feature,
.audio-section,
.pricing-section,
.call-action,
.testimonial-section,
.security-section {
  padding: 80px 0px;
}

.intro-section {
  padding: 80px 0;
  background-color: var(--second-dark-background);
}

.intro-section h5 {
  color: #265bd5;
}

.intro-section img {
  max-width: 100%;
  max-height: 350px;
}

/* .security-section .row {
  border-radius: 10px;
  padding: 40px 40px;
  border-color: #404a5e !important;
  border-width: 1px;
  border: 1px solid;
  background-color: var(--second-dark-background);
} */

.security-section img {
  max-width: 100%;
  max-height: 397px;
}

@media (max-width: 767.98px) {
  .feature,
  .audio-section,
  .pricing-section,
  .call-action,
  .testimonial-section,
  .security-section,
  .intro-section,
  section.home-form {
    padding: 40px 0px;
  }

  .intro-section {
    padding-bottom: 25px;
  }

  .feature svg {
    height: 30px !important;
  }

  .feature .feature-box {
    padding: 10px !important;
  }

  .feature h4 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }

  .call-action p {
    margin: 15px 0px !important;
  }

  .call-action span,
  .security-section span {
    padding: 4px 10px !important;
    font-size: 15px;
  }

  .security-section .row {
    border-radius: 0px !important;
    padding: 0px 12px !important;
  }

  .security-section img {
    margin-top: 30px;
  }
  .form-block {
    padding: 15px;
  }

  .security-section .security-content {
    padding: 0px;
  }

  .feature .review-export {
    margin-bottom: 0 !important;
  }

  .intro-section p {
    margin-bottom: 0 !important;
  }
}
