.signup-section {
  padding: 80px 0px;
  width: 100%;
  box-sizing: border-box;
}
label {
  color: #000;
}

[type="submit"]:not(:disabled),
button:not(:disabled) {
  color: #fff;
  border: none;
}

.signin-role select.form-control {
  height: 50px;
}

@media (max-width: 767.98px) {
  .signup-section {
    padding: 40px 10px;
  }
}
